<%- include("header", {title: title}); %>

<h1>Välkommen till RetroRecords</h1>

<p>Din destination för autentisk musik</p>

<p>
    Hos RetroRecords hittar du ett handplockat urval av klassiska vinylskivor,
    sällsynta samlingar och moderna favoriter. Utforska vår kollektion av
    musikaliska skatter och låt dig förföras av den unika känslan att äga musik
    i dess fysiska form.
</p>

<ul>
    <li><a href="about">Om RetroRecords</a></li>
    <li><a href="category">Våra kategorier</a></li>
    <li><a href="product">Våra produkter</a></li>
    <li><a href="create">Lägg till produkt</a></li>
    <li><a href="customer">Nuvarande kunder</a></li>
    <li><a href="order">Nuvarande ordrar</a></li>
</ul>

<%- include("footer"); %>
